$primary-color: #17a2b8;
$light-color: #f4f4f4;

.post-item {
  border: 1px solid #ccc;
  padding: 1rem 2.5rem;
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 1rem;
  align-items: center;

  &_user {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    h4 {
      margin: 0.5rem 0 0;
    }
  }

  &_content {
    .post-date {
      color: #aaa;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  }

  &_actions {
    .comment-count {
      background: $light-color;
      color: $primary-color;
      border-radius: 5px;
      padding: 0.1rem 0.2rem;
    }
  }
}
